<div class="game-feed">
						
	<div class="input-field col s12 center">			
		<div class="row s5 offset-5s">
			<div>
				<label id="label-user" >User:</label>
			</div>
			<div id="lft"></div>
			<select id="select-user" onchange={{action "setSelection" value="target.value"}}>
			    {{#each @users as |user|}}
			    	<NewGame @data={{user}}/> 
			    {{else}}
			    	<option>no hay users</option>
			    {{/each}}
			</select>
			<div id="rgt"></div>
		</div>
			<div>
			<button {{action @submitGame this.state.selectedOption}} class="btn orange hoverable">Create game!<i class="material-icons right">create</i>
			</button>
		</div>
	</div>		
	<div class="games-box center">
		{{#each @games as |game|}}

		<GameCard 
			@data={{game}}
			@joinGame={{@joinGame}}
			@user={{this.state.selectedOption}}
			@startGame={{@startGame}}
			@playGame={{@playGame}}
		/>
		{{else}}
			<GameCard />
			{{!-- TODO: empty state --}}
			<p>No hay tweets</p>

		{{/each}}
	</div>
</div>