<div class="game-card center font-card">
	<div class="row">
		<div class="col s9 offset-s1">
			<div class="card orange lighten-3 card-content hoverable padding-card">
				<header class="game-name">
					<span class="card-title">Gamecode: {{@data.code}}</span>
					<span class="card-title">Game id: {{@data.id}}</span>
					<span class="card-title">Status: {{@data.status}}</span>
				</header>
				<div class="game-id">
					<hr>
					<span class="card-title">Players: {{@data.total_users}}</span>
				</div>
					{{#if (dif @data.total_users)}}
				<button class="btn waves-effect waves-light orange font-card padding-card margin-card" 
					{{action @joinGame @user @data.id}}
				>Join game!
					<i class="material-icons right">send</i>
					</button>
					{{/if}}
					{{#if (ready @data.status)}}
						<button class="btn waves-effect waves-light orange margin-card padding-card font-card" 

						{{action @playGame @data.id}}
						
					>Play! {{@data.id}}
						<i class="material-icons right">send</i>
						</button>
					{{/if}}
					{{#if (rts @data.status @data.total_users)}}
				<button class="btn waves-effect waves-light orange font-card margin-card" 
					{{action @startGame @data.id}}
				>Start Game!
					<i class="material-icons right">send</i>
					</button>
					{{/if}}
					{{#if (completed @data.status)}}
						<p>Winner: {{ @data.winner_name}}    Numero de usuario: {{@data.winner_id}}</p>
					{{/if}}
			</div>
		</div>
	</div>
</div>