<div class="app-row">
	<div class="game-info">
		{{#link-to 'app'}}<button class="back btn-small waves-effect waves-light brown darken-2" text>Go back</button>{{/link-to}}
		<div class="section">
			<h1>Game id	{{id}}</h1>
		</div>
		<hr>
	</div>
	<div class="game">
		<div> 
			{{log this.model.plays}}
			{{#each this.model.plays as |play|}}
				{{#if (play-game this.id play.game_id)}}
					<div class="users">
						<h1>Play {{play.id}}</h1>
						<p>Game {{play.game_id}}</p>
						<p>User:{{play.user_id}}</p>
						{{#unless play.choice}}
							{{play.id}}
							<button {{action this.PlayGame play.id 1}}>ROCK</button>
							<button {{action this.PlayGame play.id 2}}>PAPER</button>
							<button {{action this.PlayGame play.id 3}}>SCISSORS</button>
							<button {{action this.PlayGame play.id 4}}>LIZARD</button>
							<button {{action this.PlayGame play.id 5}}>SPOCK</button>
						{{else}}
							<p>choise: {{play.choice}} </p>
						{{/unless}}
					</div>
				{{/if}}
			{{else}}
			{{!-- TODO: empty state --}}
			<p>No hay tweets</p>
			{{/each}}
	</div>
	
		<h1>Select rock, paper, scissors, lizard or spock!</h1>
		<div class="users">
			<PlayerCard/>
			<PlayerCard/>
		</div>
	</div>
</div>