<div class="app-row">
	<div class="game-info">
		{{#link-to 'app'}}<button class="back btn-small waves-effect waves-light brown darken-2" text>Go back</button>{{/link-to}}
		<div class="section">
			<h1>Game id	{{this.game_id}}</h1>
			<button {{action this.StartGame this.game_id}}> START</button>
		</div>
		<hr>
	</div>
	<div> 
			{{log this.model.plays}}
			{{#each this.model.plays as |play|}}
				{{#if (play-game this.game_id play.game_id)}}
					<h1>Play {{play.id}}</h1>
					<p>Game {{play.game_id}}</p>
					<p>User:{{play.user_id}}</p>
					{{#unless play.choise}}
						<button {{action this.Play play.id 1}}>ROCK</button>
						<button {{action this.Play play.id 2}}>PAPER</button>
						<button {{action this.Play play.id 3}}>SCISSORS</button>
						<button {{action this.Play play.id 4}}>LIZARD</button>
						<button {{action this.Play play.id 5}}>SPOCK</button>
					{{else}}
						<p>choise: {{play.choise}} </p>
					{{/unless}}
				{{/if}}
			{{else}}
			{{!-- TODO: empty state --}}
			<p>No hay tweets</p>
			{{/each}}
	</div>
	<div class="game">
		<h1>Select rock, paper, scissors, lizard or spock!</h1>
		<div class="users">
			<PlayerCard/>
			<PlayerCard/>
		</div>
	</div>
</div>